<!DOCTYPE html>
<html>
<head>
  <title>Projector</title>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
  window.settings = {
    }
  </script>
</head>
<body>
  <div id="appcontainer">
  </div>

  <script src="http://localhost:3061/webpack/app.js"></script>
</body>
</html>